@model List<Empleado>

@{
    int numPagina = 1;
    int numRegistros = (int)ViewData["REGISTROS"];
}
@{
    ViewData["Title"] = "PaginarGrupoEmpleados";
}

<h1>Paginar Grupo Empleados</h1>

<ul class="list-group list-group-horizontal">
    @for (int i = 1; i <= numRegistros; i += 3)
    {
        <li class="list-group-item">
            <a asp-controller="Paginacion"
            asp-action="PaginarGrupoEmpleados"
            asp-route-posicion="@i">
                @numPagina
            </a>
        </li>
        numPagina += 1;
    }
</ul>

<table class="table table-bordered">
    <thead>
        <tr>
            <th>Id</th>
            <th>Apellido</th>
            <th>Oficio</th>
            <th>Salario</th>
            <th>Departamento</th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>@item.IdEmpleado</td>
            <td>@item.Apellido</td>
            <td>@item.Oficio</td>
            <td>@item.Salario</td>
            <td>@item.IdDepartamento</td>
        </tr>
}
    </tbody>
</table>
